<form>
  <div class="form-group">
    <input
      #email="ngModel"
      appValidator
      type="email"
      class="form-control"
      name="name"
      [(ngModel)]="email"
      placeholder="provide email"
    />
    <div>{{email.errors | json}}</div>
  </div>
  <div class="form-group">
    <input
      appHover="steelblue"
      type="password"
      class="form-control"
      name="name"
      [(ngModel)]="password"
      placeholder="provide password"
    />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" (click)="login()">login</button>
  </div>
</form>
